<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web ini memuat informasi tentang restoran">
    <meta name="theme-color" content="#4D4DFF">
    <link rel="manifest" href="manifest.json">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="apple-touch-icon" href="/src/public/icons/icon-192x192.png">
    <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap" crossorigin="anonymous">
    <link rel="preload" as="style" onload="this.rel = 'stylesheet'" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Resto Apps</title>
</head>
<body>
    <a href="#maincontent" class="skip-link">Skip to content</a>
    <header>
        <nav-bar></nav-bar>
        <hero-img></hero-img>
    </header>
    
    <!-- Content -->
    <main id="maincontent"></main>

    <!-- Footer -->
    <footer>
        <h1>Copyright © 2021 - Resto Apps</h1>
    </footer>
</body>
</html>
